.shop-card{
  background:linear-gradient( to right, rgb(254 166 166 / 78%), #dc3545d9 );
     height: 20rem;
    

}


.shop-btn{
  background-color:rgba(105, 105, 105, 0.685) !important;
  color:#fff !important;
}
.card-title{
  color:#aaaaaa !important;
}

