@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  margin: 0;
  color: #444;
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: #e74c3c;
}

.col-red {
  color: #e74c3c;
}

.dark-btn {
  background-color: #000;
  color: #fff;
  padding: 9px 25px;
  border: none;
}

.dark-btn:hover {
  background-color: #e74c3c;
}

a {
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #e74c3c;
  text-decoration: none;
}

.carousel-item {
  height: 70vh;
}

.cartTitle {
  min-height: 120px;
  background-color: #f2f3f5;
}

.dropdown-menu{
  min-width: 7rem;
}

.cartFather {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carthover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: top 0.5s;
}

.cartFather:hover .carthover {
  top: 0;
}

.cartFather:hover .carthover i {
  transform: rotate(0deg);
}

.carthover i {
  font-size: 30px;
  color: black;
  transform: rotate(360deg);
  transition: transform 0.9s 0.5s;
}

.carthover .icon {
  background-color: #f2f3f5;
}

.carthover .icon:hover {
  background-color: black;
}

.carthover .icon:hover i,
.carthover .icon:hover a {
  color: #f2f3f5 !important;
}

.cartPrise {
  font-size: 50px;
}

.cust-size {
  font-size: 50px;
}

.cartNum {
  position: absolute;
  top: -23px;
  right: -35px;
  font-size: 30px;
}

.VILink {
  color: #007bffc0;
  font-size: 18px !important;
}

.VILink:hover {
  color: #007bffa6 !important;
}

table img {
  height: 50px;
}

table .title {
  width: 100%;
  max-width: 40%;
}

.z-99 {
  z-index: 99999999999999999;
}

.navBage {
  top: -12px;
  right: -15px;
}

.cust-pos {
  width: fit-content;
  margin: auto;
}

.cust-drop{
  width: 30px;
}