@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  color: #444;
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: #e74c3c;
}

.col-red {
  color: #e74c3c;
}

.dark-btn {
  background-color: #000;
  color: #fff;
  padding: 9px 25px;
  border: none;
}

.dark-btn:hover {
  background-color: #e74c3c;
}

a {
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #e74c3c;
  text-decoration: none;
}
/* start slider */
.carousel-item{
  height: 70vh;
} 
/* end slider */


/* BEGIN CARD DESIGN */
.cat {
  display: inline-block;
  position: relative;
 
  height: 400px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
}

.cat-profile-img {
  height: 70%;
}

.cat-description-bk {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

.second .cat-description-bk {
  background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
}

.cat-logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 30%;
  left: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.cat-logo img {
  height: 100%;
}

.cat-description {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 150px;
  bottom: 26%;
}

.cat-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  border: 1px solid #fff;
}

.cat-btn a {
  color: #fff;
}

.cat-p {
  position: absolute;
  color: #fff;
  left: 30px;
  bottom: 10%;
  
  
}
.cat-p p{
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.658);
}
.cat-description p
{
 font-size: 1.5rem;;
}
/* END CARD DESIGN */


